:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table,
th,
td,
caption {
  border: var(--border);
  border-collapse: collapse;
}

td,
th {
  height: 2rem;
  vertical-align: center;
}

td {
  padding: 0 0.5rem;

  &:first-child {
    text-align: center;
  }
}

table {
  background-color: white;
  margin-top: 2.5rem;
}

th {
  position: sticky;
  top: 2.5rem;
  z-index: 1;
  background-color: var(--main-color);
  color: white;
  padding: 0 1rem;
}

caption {
  border-bottom: none;
  padding: 0.5rem 0;
  font-weight: bold;
  color: var(--main-color);
}

.sortable {
  cursor: pointer;

  &::selection {
    background-color: transparent;
  }
}

.sort-asc,
.sort-desc,
.sortable:hover{
  opacity: 90%;
}

.sort-status::after{
  content: "◆";
}

.sort-asc::after {
  content: "▲";
  font-size: 0.55rem;
}

.sort-desc::after {
  content: "▼";
  font-size: 0.6rem;
}

.sort-status::after,
.sort-asc::after,
.sort-desc::after {
  color: white;
  padding-left: 0.5rem;
}
