<table *ngIf="(dataTable$ | async)?.length">
<caption>{{tableHeader}}</caption>
  <thead>
    <tr>
      <th
        *ngFor="let colName of tableColumnNames; let i=index"
        (click)="sortByIndex(i)"
        [class.sortable] = 'isSortable[i]'

        [class.sort-asc] = 'stateOrder[i] === -1'
        [class.sort-desc] = 'stateOrder[i] === 1'
        [class.sort-status] = 'isSortable[i] && stateOrder[i] === 0'
      >
        {{colName}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of dataTable$ | async">

      <td *ngFor="let cell of getCell(row)">
        {{cell}}
      </td>

    </tr>
  </tbody>
</table>
