<form [formGroup]="profileForm" (ngSubmit)="addBook()">

  <label for='author'>Автор</label>
  <select
    id="author"
    formControlName="author"
  >
    <option [ngValue]="null" disabled>Выберите автора</option>
    @for (author of authors$ | async; track author){
      <option [ngValue]='author'>{{author}}</option>
    }
  </select>

  @for (field of fields; track field.name) {
  <label [for]='field.name'>{{field.label}}</label>
    <input
      [id]="field.name"
      [formControlName]="field.name"
      type="text"
    >
  }

  <button type="submit" class="submit-form">Добавить книгу</button>

</form>

<app-table
  tableHeader="Книги"
  [tableColumnNames]="tableColumnNames"
  [dataTable$]="bookCollection$"
  (sort)="onSort($event)"
></app-table>
